keras==2.13.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
numpy==1.20.0
pandas==2.0.3
scikit-learn==0.24.1
scipy==1.8.0
sklearn==0.0
tensorboard==2.13.0
tensorboardX==2.6.2.2
tensorflow==2.13.0
tensorflow-estimator==1.14.0
tensorflow-intel==2.13.0
torch==2.3.0+cu121
torch-geometric==2.6.1
torchaudio==2.3.0+cu121
torchmetrics==0.11.4
torchsummary==1.5.1
torchvision==0.18.0+cu121
tqdm==4.66.4


